In [1]:
#QUESTION ONE

numWaterPacks = 14
numSuitCases = 2
numGolfKit = 1
numGolfClubs = 24

In [ ]:
#QUESTION TWO

vehicleSpeed = 35kph
'Error: 35 is an integer and kph is a string and should be in quotation marks, and so cannot be used together'

studentWeight = 75 kg
'Error: 75 is an integer and kg is a string and should be put in quotation marks'

happiness Rating = 'Very Happy'
'Error: the variable happiness Rating should be together, there should be no whitespace in between them.'

count, subcount = 45
'Error: the vairable shouldn't have a whitespace in between'

In [3]:
#QUESTION THREE

studNames = ['Rowland Brooks', 'Tambe Bwali', 'Bitrus Yagi', 'Kofi Kwame', 'Butuwase Nglesi', 'Peter Okafor', 'Adebo Babalaki']

In [5]:
print(studNames)

['Rowland Brooks', 'Tambe Bwali', 'Bitrus Yagi', 'Kofi Kwame', 'Butuwase Nglesi', 'Peter Okafor', 'Adebo Babalaki']

In [7]:
studAge = [30, 27, 40, 51, 38, 33, 51 ]

In [8]:
marStatus = ['single', 'married', 'married', 'single', 'single', 'married', 'divorced']

In [10]:
numChildren = [4, 6, 2, 7, 0, 3, 9]

In [ ]:
studNames = ['Rowland Brooks', 'Tambe Bwali', 'Bitrus Yagi', 'Kofi Kwame', 'Butuwase Nglesi', 'Peter Okafor', 'Adebo Babalaki']
studAge = [30, 27, 40, 51, 38, 33, 51 ]
marStatus = ['single', 'married', 'married', 'single', 'single', 'married', 'divorced']
numChildren = [4, 6, 2, 7, 0, 3, 9]

In [11]:
studList = [studNames, studAge, marStatus, numChildren]

In [12]:
print(studList)

[['Rowland Brooks', 'Tambe Bwali', 'Bitrus Yagi', 'Kofi Kwame', 'Butuwase Nglesi', 'Peter Okafor', 'Adebo Babalaki'], [30, 27, 40, 51, 38, 33, 51], ['single', 'married', 'married', 'single', 'single', 'married', 'divorced'], [4, 6, 2, 7, 0, 3, 9]]

In [22]:
#QUESTION FOUR

amntEarned = 12000

In [16]:
amtNgelesi = 300
amtBelinda = 500
outstndBills = 3000

In [18]:
totalBills = (amtNgelesi+amtBelinda+outstndBills)

In [19]:
print(totalBills)

3800

In [27]:
amtSaved = 0.5*(amntEarned)

In [28]:
print(amtSaved)

6000.0

In [34]:
amntPaid = (totalBills+amtSaved)

In [35]:
print(amntPaid)

9800.0

In [36]:
amntLeft = (amntEarned-amntPaid)

In [37]:
print(amntLeft)

2200.0

In [38]:
amntNathan = 2500

In [39]:
amntAtHand = (amntLeft+amntNathan)

In [40]:
print(amntAtHand)

4700.0